/*===========================
    GALLERY SECTION ANIMATION
    =========================*/

.photo-overlay p {
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 15px;
    text-align: left;
}

.photo {
    max-width: 240px;
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 12px;
    padding: 0px;
    border: 4px solid #021a40;
    background-color: rgb(255, 174, 0);
    box-shadow: 2px 2px 10px rgba(0,0,0,.7);
    margin-left: 10px;
    margin-right: 10px;
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 240px;
    height: 135px;
}

.photo-container img {
    max-width: 100%;
    width: 240px;
    height: 135px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    border-radius: 8px;
}

.white-head {
    color: #ffffff;
    margin-top: 20px;
    line-height: 10px;
    padding-bottom: 0px;
    font-weight: 300;
}

/*===========================
    PHOTO OVERLAY TRANSITIONS
    =========================*/

.photo-overlay {
    opacity: 0;
    transition: opacity .1s;
    border-radius: 6px;
    cursor: pointer;
}

.photo-overlay p {
    width: 100%;
    height: 100%;
    color: #fff;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}

/* LIGHTBOX */

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create Columns */
.column {
    float: left;
    width: 11%;
}

/* Background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    max-width: 1200px;
}

/* Hide the slides by default */
.slides {
    display: none;
    background-color: black
}

/* Buttons */
.close {
    color: white;
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgb(87, 87, 87);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0px;
}

/* Button hover */
.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.prev:hover, .next:hover {
    background-color: rgba(167, 167, 167, 0.8);
}

/* Number text */
.numbertext {
    color: #e7e7e7;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
    width: 100%;
}

.active, .demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}