/* =====================================
    GENERIC STYLES
    ====================================*/
html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color: rgb(226, 226, 226);
    background-color: rgb(29, 29, 29);
    text-align: center;
}

footer,
nav {
    display: block;
}

a {
    text-decoration: none;
}

.navbar li{
    font-size: 15px;
    font-family: "Impact", sans-serif;
    font-weight: 300;
    letter-spacing: 2pt;
    color: rgb(255, 162, 32);
    background-color: rgba(0,0,0,.6);
    border:#000;
    border-style: ridge;
    border-width: 3px;
    display: inline;
    padding: 15px;
    margin: 5px;
    transition-property: background, text;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
}

.navbar li:hover {
    color: rgb(205, 126, 16);
    background-color: rgba(0,0,0,.8);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Impact', sans-serif;
}

h1 {
    line-height: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 162, 32);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    letter-spacing: 2pt;
}

h1::after { /* This is the underline*/
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: rgb(255, 162, 32);
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}

h2 {
    line-height: 50px;
    color: rgb(255, 162, 32);
}

h3 {
    line-height: 30px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.clearfix:after,
.container:after,
.navbar:after {
    clear: both;
    display: table;
    content: " ";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 0% auto;
    content: " ";
    width: 100%;
    position: fixed;
    z-index: 100;
}

/*==============================
    HOME SECTION STYLES
    ============================*/

#home {
    background: url(../images/Aperture_Background.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 350px;
    color: #fff;
}

.head-main {
    background: rgba(0,0,0,0.6);
    text-shadow: 2px 4px 5px rgba(0,0,0,0.9);
    font-variant: small-caps;
    color: rgb(255, 162, 32);
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: left;
    font-family: impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double #fff;
    padding: 10px;
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
    font-size: 18px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

/*==============================
    CONTACT STYLES
    ============================*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
    width: auto;
}

#apply {
    background-color: #4d4d4d;
}

.application {
    width: 60%;
    padding: 10px;
    border-radius: 0px;
    margin: 0px auto;
    background-color: rgba(247, 160, 0, 0.244);
    box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.application h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.application h2 span {
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.application p {
    color: #13161b;
    width: 50%;
    margin: 0 auto;
}

.application input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #ffffff;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161b;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, .15);
    font-family: 'Raleway', sans-serif;
}

.application input[type="text"]:hover {
    box-shadow: 0 0 10px rgba(24, 24, 24, 0.8);
}

.form-spacer {
    padding: 20px 39px;
}

.terms {
    margin: 30px 1px 0 0;
    padding-left: 30px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 13%;
    position: relative;
    display: inline;
    float: right;
}

.submit {
    display: block;
    margin-left: 0%;
}

.submit input[type="submit"] {
    color: rgb(225,225,225);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 30px 6%;
    padding: 7px 0px;
    width: 25%;
    height: 50px;
    font-size: 20px;
    transition: border-color .3s color .3s background-color .3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #c6c6c6;
    box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}

#video {
    box-shadow: 5px 5px 8px 0 rgba(240, 120, 0, .7);
    border: 5px solid #000 ;
}

/*==============================
    FOOTER STYLES
    ============================*/

#footer {
    background-color: rgba(63, 63, 63, 0.3);
    color: #000;
    text-shadow: 2px 2px 8px 0 rgba(0,0,0,.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}